<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lists</title>
</head>
<body>
  <h1>Edit "<%= @list[:name] %>"</h1>

  <form action="/lists" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="id" value="<%= @list[:id] %>" />
    <input name="list[name]" value="<%= @list[:name] %>" />
    <button type="submit">Update list</button>
  </form>

  <a href="/lists/<%= @list[:id] %>">back to list</a>
</body>
</html>
