<h1>Sign In</h1>

<form action="/users/sign_in" method="post" class="" style="max-width: 500px">
  <div class="mb-3">
    <input name="email" type="email" class="form-control" placeholder="user@lists.app" aria-label="Email" required>
  </div>
  <div class="mb-3">
    <input name="password" type="password" class="form-control" placeholder="********" required>
  </div>
  <div class="">
    <button type="submit" class="btn btn-primary">Sign In</button>
  </div>
</form>
