<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lists</title>
  <script src="/dist/main.min.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <% if user_signed_in? %>
        <form action="/users/sign_out" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Sign Out</button>
        </form>
      <% else %>
        <a href="/users/sign_in" class="btn btn-primary">Sign In</a>
      <% end %>
    </header>
    <%= yield %>
  </div>
</body>

</html>
